{% macro date(date) %}
	<time datetime="{{ date | date }}" pubdate>
		<span class='month'>{{ date | date("MMM") }}</span>
		<span class='day'>{{ date | date("DD") }}</span>
		<span class='year'>{{ date | date("YYYY") }}</span>
	</time>
{% endmacro %}

{% macro long_date(date) %}
	<time class='entry-date' datetime='{{ date | date }}'>
		<span class='date'>
			<span class='date-month'>{{ date | date("MMM") }}</span>
			<span class='date-day'>{{ date | date("D") }}</span><span class='date-suffix'>{{ date | date("Do") | letters }}</span>,
			<span class='date-year'>{{ date | date("YYYY") }}</span>
		</span>
		<span class='time'>{{ date | date("HH:mm") }}</span>
	</time>
{% endmacro %}

{% macro comments_link(url) %}
<a href="{{ url }}#disqus_thread"
				data-disqus-identifier="http://rich.k3r.me{{ url }}">Comments</a>
{% endmacro %}

{% macro categories(categories) %}
	{% if categories.length > 0 -%}
		<span class="categories">
			posted in
			{% for category in categories -%}
			<a class='category' href='{{ category.url }}'>{{ category.name }}</a>{{ "," if not loop.last }}
			{% endfor -%}
		</span>
		{% endif -%}
{% endmacro %}

{% macro summary(post) %}
	<article>
		<h1>
			<a href="{{ post.url }}">
				{{ post.title }}
			</a>
		</h1>

		{{ date(post.date) }}

		<footer>
			{{ categories(post.categories) }}
		</footer>
	</article>
{% endmacro %}

{% macro meta(post) %}
	<p class="meta">
		{{ long_date(post.date) }}
		| {{ comments_link(post.url )}}
	</p>
{% endmacro %}
