{% extends "base.html" %}
{% import "helpers.html" as helpers %}

{% block content %}
<div class="blog-index">

	{% for year in postsByYear %}
		{% for post in year.posts %}
	<article>
		<header>
			<h1 class="entry-title">
				<a href="{{ post.url }}">
					{{ post.title }}
				</a>
			</h1>
			{{ helpers.meta(post) }}
		</header>
		<div class="entry-content">
			{{ post.excerpt | safe }}
		</div>
		<footer>
			<a rel="full-article" href="{{ post.url }}">Read on &rarr;</a>
		</footer>
	</article>
		{% endfor %}
	{% endfor %}

	<div class="pagination">
	{% if prev %}
		<a class="prev" href="{{ prev }}">&larr; Older</a>
	{% endif %}

		<a href="/blog/archives">Blog Archives</a>

	{% if next %}
		<a class="next" href="{{ next }}">Newer &rarr;</a>
	{% endif %}
	</div>
</div>
{% endblock %}
